mule-project-final/src/main/mule/mule-project-final.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f3b52def-2b06-458e-a8f8-62f2cb41f80a" >
		<wsc:connection wsdlLocation="http://tshirts.demos.mulesoft.com/?wsdl" service="TshirtServicePortTypeService" port="TshirtServicePortTypePort" address="http://tshirts.demos.mulesoft.com/" />
	</wsc:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8871676f-0410-4665-82a2-4e2555d90a57" >
		<db:my-sql-connection host="database-mule1.cqnnno7itnen.us-east-1.rds.amazonaws.com" port="3306" user="root" password="Joakoss1995!" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="215a1460-e741-415e-b4fc-03c3c6a622f3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="Copy_of_GetInventory-Soap" doc:id="7e75a256-451b-45b4-b127-a2b818865d3e" >
		<http:listener doc:name="Copy_of_Listener" doc:id="ff4b9e1f-4b10-4354-b202-6e79ad105f73" config-ref="HTTP_Listener_config" path="/soapInventory" />
		<wsc:consume operation="ListInventory" doc:id="f7cf7ee0-125b-4df0-b9f8-5a922c33fad1" config-ref="Web_Service_Consumer_Config" doc:name="Copy_of_Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="b127c52c-eaea-445b-89e9-40f177e86ff4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://mulesoft.org/tshirt-service
---
{
	nombranimal: payload.body.ns0#ListInventoryResponse.inventory.productCode
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="330e5f04-97cd-4431-9fc4-e8751d475dbf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_Get-InventoryDB" doc:id="cf281564-1f51-462f-a3a3-907179828c0f" >
		<db:select doc:id="9a94d83c-cc36-4e49-bc40-cd333a4366f4" config-ref="Database_Config" doc:name="Copy_of_Select" >
			<db:sql ><![CDATA[select * from retaillegacy.inventory]]></db:sql>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="fcf7dfc8-ba31-4d8b-a38b-fda552d3d0eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"inventory": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_Get-InventoryDB-size" doc:id="7ff0c131-7cc8-419b-a450-0a60da9205a8" >
		<db:select doc:id="01aa98f3-0185-419b-83fe-5c8184cea0fb" config-ref="Database_Config" doc:name="Copy_of_Select" >
			<db:sql ><![CDATA[select * from retaillegacy.inventory where sizes = :size]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	size: attributes.queryParams.size
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="9da61437-07e6-45c6-b696-d9bc813e4abb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_Get-InventoryDB-sku" doc:id="a7753b51-d4ea-4042-a220-5371da8c556e" >
		<db:select doc:id="b9a43648-462f-4ca3-baeb-8d958947773b" config-ref="Database_Config" doc:name="Copy_of_Copy_of_Select" >
			<db:sql ><![CDATA[select * from retaillegacy.inventory where sku = :sku]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	sku: attributes.queryParams.sku
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="405a7057-3b31-4644-96fa-0a5221398b46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_Get-Stock" doc:id="996151d0-f406-4d15-ba73-6486038b6bb5" >
		<choice doc:name="Copy_of_Choice" doc:id="1022e3af-2131-4de6-8803-a069ce5074ce" >
			<when expression='#[attributes.queryParams.stock == "con stock"]' >
				<db:select doc:id="e6f98419-ca99-4a1e-9e6b-61e571a801bc" config-ref="Database_Config" doc:name="Copy_of_Select" >
					<db:sql ><![CDATA[select * from retaillegacy.inventory where stock != 0]]></db:sql>
				</db:select>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="61afa33e-d950-4073-a9fe-9f01eab8d991" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[attributes.queryParams.stock == "sin stock"]' >
				<db:select doc:id="ca489d4a-f82a-48db-af03-b4becf2aef46" config-ref="Database_Config" doc:name="Copy_of_select2" >
					<db:sql ><![CDATA[select * from retaillegacy.inventory where stock = 0]]></db:sql>
				</db:select>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="3bce525f-e429-40d5-b89f-4620e975c258" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value="Valor no encontrado" doc:name="Copy_of_Set Payload" doc:id="09d61573-67f1-40bf-9e2e-6ac1b11310a9" />
			</otherwise>
		</choice>
	</flow>
	<flow name="Copy_of_Bulkinventory" doc:id="0121c00d-b66e-4eec-901c-04b91f2cae9e" >
		<http:listener doc:name="Copy_of_Listener" doc:id="3ee1e662-72d0-4930-8e1e-62e075c745e8" config-ref="HTTP_Listener_config" path="/initialbulk" allowedMethods="POST" />
		<wsc:consume operation="ListInventory" doc:id="d6d4a6bd-129e-43a8-8edc-000cdc4798a6" config-ref="Web_Service_Consumer_Config" doc:name="Copy_of_Copy_of_Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="65c4d79f-c4ba-4680-b12e-f9b53203af60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://mulesoft.org/tshirt-service
---
payload.body.ns0#ListInventoryResponse.*inventory map ( inventory , indexOfInventory ) -> {
	
	descripcion: inventory.description ,
	sizes: inventory.size ,
	codigoproducto: inventory.productCode ,
	stock: inventory.count
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:id="4bb04073-5eef-4676-a8af-904c7519e7ef" config-ref="Database_Config" doc:name="Copy_of_Bulk insert" >
			<db:sql ><![CDATA[insert into retaillegacy.inventory (stock,descripcion,codigoproducto,sizes) values (:stock,:descripcion,:codigoproducto,:sizes)]]></db:sql>
		</db:bulk-insert>
		<db:select doc:id="ef253e2e-0608-411d-92ae-2f5706470326" config-ref="Database_Config" doc:name="Copy_of_Select" >
			<db:sql ><![CDATA[select * from retaillegacy.inventory]]></db:sql>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="5ec7ebde-3760-486a-b8a7-235a092ab91d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
